.input {
  height: 2.75rem;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 5px;
  padding: 0 1rem;
}

.input::placeholder {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

.inputLabel {
  width: 100%;
}

.purpleInput {
  border: 0.0625rem solid var(--purple);
  color: var(--purple);
}