.topnavContainer {
  padding: 0;
  background-color: var(--purple);
}

.navMenuItem {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  padding: 0 1rem;
  font-size: 1.25rem;
  letter-spacing: .125rem;
}

.navMenuItem * {
  color: inherit;
  font-size: inherit;
}

.navMenuItem:hover,
.navMenuItem:active,
.navMenuItem:focus,
.navMenuItem:visited {
  text-decoration: underline;
  text-decoration-color: var(--teal);
  color: var(--teal);
}

@media (max-width: 51.25rem) {
  .navMenuItem {
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    padding: 0 .75rem;
  }
}